<% content_for :title do %>
  Text Converter
<% end %>

<form name="convert_text" id="convert_text_form" method="post" action="/convert_text/">
  <div>
    <label for='plain_text' class='control-label'>Text to convert </label>
    <textarea class='form-control' type='text' cols='100' name='text_to_convert' id='plain_text' value='<%=@text_to_convert%>'><%=@text_to_convert%></textarea>
  </div>
  <button type='submit' class='btn btn-primary'>Convert text</button>
</form>
<div>
  <table>
    <td>
      <tr>
        <label for='converted_text' class='control-label'>Converted text</label>
      </tr>
      <tr>
        <textarea class='form-control' type='text' cols='100' name='converted_text' id='converted_text'>
<% @converted_text.each do |line| %>
<%=line%>
<% end %></textarea>
      </tr>
    </td>
  </table>
</div>

<form name="clear_text" id="clear_text_form" method="post" action="/clear_text/">
  <button type='submit' class='btn btn-primary'>Clear</button>
</form>

<form action="/upload_file/" method="POST" enctype="multipart/form-data">
  <input type="file" name="file">
  <button type="submit" class='btn btn-primary'>Upload file</button>
</form>
